{{=<% %>=}}
<html>
    <head>
        <title>NO2</title>
    </head>
    <body>
        <div id="app">
            <div id="map"></div>
        </div>
        <div id="panel" v-bind:class="panelClass">
            <div class="panel-content">
                <h2>健康空氣行動路邊污染監測網絡</h2>
                <h2>關於路邊污染監測網絡</h2>
                <h2>什麼是二氧化氮(NO<sub>2</sub>)?</h2>
                <h2>生活應用</h2>
                <h2>查詢</h2>
            </div>
            <button v-on:click="show = !show">menu</button>
        </div>
        <script src="/static/js/<% bundle %>"></script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuGF_jeQPCOmLULcoSu-l3LmkpjGNfO_I&callback=initMap">
        </script>
    </body>
</html>
